In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('base_proyectos.db')

cursor = conn.cursor()

crear_tabla_usuarios = '''
CREATE TABLE IF NOT EXISTS Usuarios (
    id_usuario INTEGER PRIMARY KEY,
    nombre_usuario TEXT NOT NULL,
    correo_usuario TEXT NOT NULL,
    perfil_usuario TEXT
)
'''

crear_tabla_proyectos = '''
CREATE TABLE IF NOT EXISTS Proyectos (
    id_proyecto INTEGER PRIMARY KEY,
    id_usuario INTEGER,
    nombre_proyecto TEXT NOT NULL,
    detalles_proyecto TEXT,
    estado_proyecto TEXT,
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario)
)
'''

crear_tabla_tareas = '''
CREATE TABLE IF NOT EXISTS Tareas (
    id_tarea INTEGER PRIMARY KEY,
    id_usuario INTEGER,
    id_proyecto INTEGER,
    nombre_tarea TEXT NOT NULL,
    estado_tarea TEXT,
    detalles_tarea TEXT,
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_proyecto) REFERENCES Proyectos(id_proyecto)
)
'''

cursor.execute(crear_tabla_usuarios)
cursor.execute(crear_tabla_proyectos)
cursor.execute(crear_tabla_tareas)

conn.commit()
conn.close()

In [1]:
import sqlite3

conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

crear_tabla_estados = '''
CREATE TABLE IF NOT EXISTS Estados (
    id_estado INTEGER PRIMARY KEY,
    nombre_estado TEXT NOT NULL
)
'''
cursor.execute(crear_tabla_estados)

crear_tabla_historial = '''
CREATE TABLE IF NOT EXISTS Historial (
    id_historial INTEGER PRIMARY KEY,
    id_usuario INTEGER,
    id_proyecto INTEGER,
    id_tarea INTEGER,
    nombre_estado TEXT,
    detalles_h TEXT,
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_proyecto) REFERENCES Proyectos(id_proyecto),
    FOREIGN KEY (id_tarea) REFERENCES Tareas(id_tarea)
)
'''
cursor.execute(crear_tabla_historial)

crear_tabla_perfiles = '''
CREATE TABLE IF NOT EXISTS Perfiles (
    id_perfil INTEGER PRIMARY KEY,
    nombre_perfil TEXT NOT NULL
)
'''
cursor.execute(crear_tabla_perfiles)

conn.commit()
conn.close()

In [6]:

conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

sql_query = '''
ALTER TABLE Usuarios
ADD COLUMN id_perfil INTEGER REFERENCES Perfiles(id_perfil)
'''

cursor.execute(sql_query)

conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

usuarios_data = [
    (1001, 'Juan Garcia', 'Juan_Garcia@gmail.com', 'Gerente'),
    (1002, 'Hernando Perez', 'Hernando_Perez@gmail.com', 'Desarrollador'),
    (1003, 'Carlos Niño', 'Carlos_Nino@gmail.com', 'Gerente'),
    (1004, 'Carla Florez', 'Carla_Florez@gmail.com', 'Desarrollador'),
    (1005, 'Mariana Jaramillo', 'Mariana_Jaramillo@gmail.com', 'Gerente'),
    (1006, 'Cristiano Ronaldo', 'Cristiano_Ronaldo@gmail.com', 'Desarrollador'),
    (1007, 'Juan Cuadrado', 'Juan_Cuadrado@gmail.com', 'Gerente'),
    (1008, 'Diego Alarcon', 'Diego_Alarcon@gmail.com', 'Desarrollador'),
    (1009, 'Julian Niño', 'Julian_Nino@gmail.com', 'Gerente'),
    (1010, 'Joseba Jartangas', 'Joseba_Jartangas@gmail.com', 'Desarrollador')
]

insert_query = 'INSERT INTO Usuarios (id_usuario, nombre_usuario, correo_usuario, perfil_usuario) VALUES (?, ?, ?, ?)'

cursor.executemany(insert_query, usuarios_data)

conn.commit()
conn.close()

In [5]:
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

proyectos_data = [
    (101, 1001, 'Proyecto Neoris', 'Proyecto para la campaña Neoris', 'En progreso'),
    (102, 1003, 'Proyecto Claro', 'Proyecto para el cliente Claro', 'Pendiente'),
    (103, 1005, 'Proyecto Oracle', 'Proyecto para el cliente Oracle', 'En progreso'),
    (104, 1007, 'Proyecto OFSC', 'Proyecto para la campaña OFSC', 'Completado'),
    (105, 1009, 'Proyecto OCI', 'Proyecto para la campaña OCI', 'Cancelado')
]

insert_query = 'INSERT INTO Proyectos (id_proyecto, id_usuario, nombre_proyecto, detalles_proyecto, estado_proyecto) VALUES (?, ?, ?, ?, ?)'

cursor.executemany(insert_query, proyectos_data)

conn.commit()
conn.close()

In [7]:
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

tareas_data = [
    (1, 1002, 101, 'Tarea Neoris1', 'Pendiente', 'Realizar la proyeccion de trabajo'),
    (2, 1004, 102, 'Tarea Claro1', 'En progreso', 'Entregar el informe del progreso'),
    (3, 1006, 103, 'Tarea Oracle1', 'Pendiente', 'Iniciar con el desarrollo'),
    (4, 1008, 104, 'Tarea OFSC1', 'Completado', 'Entregar el informe completo del proyecto finalizado'),
    (5, 1010, 105, 'Tarea OCI1', 'Cancelado', 'Justificar la causa de cancelacion')
]

insert_query = 'INSERT INTO Tareas (id_tarea, id_usuario, id_proyecto, nombre_tarea, estado_tarea, detalles_tarea) VALUES (?, ?, ?, ?, ?, ?)'

cursor.executemany(insert_query, tareas_data)

conn.commit()
conn.close()

In [3]:
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

consulta = "SELECT * FROM Usuarios"

cursor.execute(consulta)

usuarios = cursor.fetchall()

for usuario in usuarios:
    print(usuario)

conn.close()

(1001, 'Juan Garcia', 'Juan_Garcia@gmail.com', 'Gerente', None)
(1002, 'Hernando Perez', 'Hernando_Perez@gmail.com', 'Desarrollador', None)
(1003, 'Carlos Niño', 'Carlos_Nino@gmail.com', 'Gerente', None)
(1004, 'Carla Florez', 'Carla_Florez@gmail.com', 'Desarrollador', None)
(1005, 'Mariana Jaramillo', 'Mariana_Jaramillo@gmail.com', 'Gerente', None)
(1006, 'Cristiano Ronaldo', 'Cristiano_Ronaldo@gmail.com', 'Desarrollador', None)
(1007, 'Juan Cuadrado', 'Juan_Cuadrado@gmail.com', 'Gerente', None)
(1008, 'Diego Alarcon', 'Diego_Alarcon@gmail.com', 'Desarrollador', None)
(1009, 'Julian Niño', 'Julian_Nino@gmail.com', 'Gerente', None)
(1010, 'Joseba Jartangas', 'Joseba_Jartangas@gmail.com', 'Desarrollador', None)
(1011, 'diego', 'diego', 'diego', None)

In [6]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

# Crear la tabla USUARIOS_CR si no existe
cursor.execute('''CREATE TABLE IF NOT EXISTS USUARIOS_CR (
                    id_usuario INTEGER PRIMARY KEY,
                    username TEXT NOT NULL,
                    password TEXT NOT NULL
                  )''')

# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

print("Tabla USUARIOS_CR creada exitosamente.")

Campo 'perfilusu' agregado exitosamente a la tabla USUARIOS_CR.

In [10]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

# Agregar el campo perfilusu a la tabla USUARIOS_CR si no existe
cursor.execute('''ALTER TABLE USUARIOS_CR 
                  ADD COLUMN perfilusu TEXT''')

# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

print("Campo 'perfilusu' agregado exitosamente a la tabla USUARIOS_CR.")

Campo 'perfilusu' agregado exitosamente a la tabla USUARIOS_CR.

In [11]:
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

tareas_data = [
    (1001, 'JuanGarcia', 'Juan_Garcia@gmail.com', 'Gerente'),
    (1002, 'HernandoPerez', 'Hernando_Perez@gmail.com', 'Desarrollador'),
    (1003, 'CarlosNiño', 'Carlos_Nino@gmail.com', 'Gerente'),
    (1004, 'CarlaFlorez', 'Carla_Florez@gmail.com', 'Desarrollador'),
    (1005, 'MarianaJaramillo', 'Mariana_Jaramillo@gmail.com', 'Gerente'),
    (1006, 'CristianoRonaldo', 'Cristiano_Ronaldo@gmail.com', 'Desarrollador'),
    (1007, 'JuanCuadrado', 'Juan_Cuadrado@gmail.com', 'Gerente'),
    (1008, 'DiegoAlarcon', 'Diego_Alarcon@gmail.com', 'Desarrollador'),
    (1009, 'JulianNiño', 'Julian_Nino@gmail.com', 'Gerente'),
    (1010, 'JosebaJartangas', 'Joseba_Jartangas@gmail.com', 'Desarrollador')
]

insert_query = 'INSERT INTO Usuarios_cr (id_usuario, username, password, perfilusu) VALUES (?, ?, ?, ?)'

cursor.executemany(insert_query, tareas_data)

conn.commit()
conn.close()

In [3]:
conn = sqlite3.connect('base_proyectos.db')
cursor = conn.cursor()

tareas_data = [
    (1012, 'Juanhernesto', 'Juan_hernesto@gmail.com', 'Administrador')
]

insert_query = 'INSERT INTO Usuarios_cr (id_usuario, username, password, perfilusu) VALUES (?, ?, ?, ?)'

cursor.executemany(insert_query, tareas_data)

conn.commit()
conn.close()